@model DAO.Models.Entreprise

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Entreprise</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntrepriseName" class="control-label"></label>
                <input asp-for="EntrepriseName" class="form-control" />
                <span asp-validation-for="EntrepriseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RespLastName" class="control-label"></label>
                <input asp-for="RespLastName" class="form-control" />
                <span asp-validation-for="RespLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RespFirstName" class="control-label"></label>
                <input asp-for="RespFirstName" class="form-control" />
                <span asp-validation-for="RespFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PosteRep" class="control-label"></label>
                <input asp-for="PosteRep" class="form-control" />
                <span asp-validation-for="PosteRep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAdress" class="control-label"></label>
                <input asp-for="StreetAdress" class="form-control" />
                <span asp-validation-for="StreetAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumAdress" class="control-label"></label>
                <input asp-for="NumAdress" class="form-control" />
                <span asp-validation-for="NumAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sector" class="control-label"></label>
                <input asp-for="Sector" class="form-control" />
                <span asp-validation-for="Sector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
